body{
    color:#333333;
    max-width: 650px;
    margin:0 auto;
    padding: 0 16px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font: 1rem/1.3 "Roboto", sans-serif;
    background: bg_main;
    color: text_dark;
   
}
.main-content{
    flex-grow: 1;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px, 0;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;    
    margin-bottom: 16px;
}
header a{
    color: #888888;
    margin-right:16px;
    text-decoration: none;
}
.port{
    width:250px;
}

input{
    border: 1px solid#cccccc;
    padding: 8px;

}
button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

button{
    font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  background: red;
  color:white;
  transition: background 0.3s ease-in-out;
}
button:hover {
    background: darkred;
  }
  input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
  }
  input::placeholder {
    color: currentColor; 
  }